<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification | Nevermind</title>
    <style>
      @font-face {
        font-family: "GmarketSansBold";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
          format("woff");
      }
      body {
        position: relative;
        font-family: GmarketSansBold, sans-serif;
      }
    </style>
  </head>
  <body>
    <h2>Nevermind 이메일 인증</h2>
  </body>
</html>
